apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1   # 預設值，會被 overlay 覆蓋
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
